.header {
    /* flexbox */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(203, 247, 255);

    /* box model */
    border: 2px solid red;
    padding: 0;
    margin: 0;

}

.section2 {
    background-color: aqua;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* box model */
    border: 2px solid red;
    padding: 0;
    margin: 0;
}

.wordssection2 {
    inline-size: 400px;
    overflow-wrap: break-word;
}

.logo {
    color: blueviolet;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border: 2px solid red;
}

.links {
    display: flex;
    border: 2px solid red;
}

.button {
    background-color: #bbfacc;
    padding: 16px 32px;
    margin: 4px 2px;
    border-radius: 10px;
    border: none;
    display: inline-block;
}

ul {
    /* flexbox */
    display: flex;
    gap: 80px;
    justify-content: center;
    align-items: center;

    /* font and styling */
    list-style-type: none;

    /* box model */
    padding: 10px;
    margin: 10px;
}

body {
    font-family: Verdana, sans-serif;
}
